<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>
	<bean id="accountDao"
		class="com.portal.data.dao.impl.AccountDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="passportDao"
		class="com.portal.data.dao.impl.PassportDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="pageDao" class="com.portal.data.dao.impl.PageDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="tabDao" class="com.portal.data.dao.impl.TabDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="rowDao" class="com.portal.data.dao.impl.RowDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="rssDao" class="com.portal.data.dao.impl.RssDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="newsDao" class="com.portal.data.dao.impl.NewsDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="linkDao" class="com.portal.data.dao.impl.LinkDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="messageDao" class="com.portal.data.dao.impl.MessageDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory"/>
		</property>
	</bean>

	<bean id="accountTarget"
		class="com.portal.data.service.impl.AccountServiceImpl">
		<property name="passportDao">
			<ref local="passportDao" />
		</property>
		<property name="accountDao">
			<ref local="accountDao" />
		</property>
	</bean>
	<bean id="profileTarget"
		class="com.portal.data.service.impl.ProfileServiceImpl">
		<property name="pageDao">
			<ref local="pageDao" />
		</property>
		<property name="tabDao">
			<ref local="tabDao" />
		</property>
		<property name="rowDao">
			<ref local="rowDao" />
		</property>
		<property name="newsDao">
			<ref local="newsDao" />
		</property>
		<property name="linkDao">
			<ref local="linkDao" />
		</property>
	</bean>
	<bean id="templateTarget"
		class="com.portal.data.service.impl.TemplateServiceImpl">
		<property name="tabDao">
			<ref local="tabDao" />
		</property>
		<property name="rowDao">
			<ref local="rowDao" />
		</property>
		<property name="rssDao">
			<ref local="rssDao" />
		</property>
		<property name="newsDao">
			<ref local="newsDao" />
		</property>
		<property name="linkDao">
			<ref local="linkDao" />
		</property>
	</bean>
	<bean id="linkTarget"
		class="com.portal.data.service.impl.LinkServiceImpl">
		<property name="linkDao">
			<ref local="linkDao" />
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/portal?useUnicode=true&amp;characterEncoding=utf8">
		</property>
		<property name="username" value="terry"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="annotatedClasses">
			<list>
				<value>com.portal.data.pojo.Account</value>
				<value>com.portal.data.pojo.UserLink</value>
				<value>com.portal.data.pojo.Page</value>
				<value>com.portal.data.pojo.Passport</value>
				<value>com.portal.data.pojo.Rss</value>
				<value>com.portal.data.pojo.RssData</value>
				<value>com.portal.data.pojo.Tab</value>
				<value>com.portal.data.pojo.Row</value>
				<value>com.portal.data.pojo.UserRssData</value>
				<value>com.portal.data.pojo.Message</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="current_session_context_class">thread</prop>
				<prop key="connection_pool_size">10</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="accountService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="accountTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="register*">PROPAGATION_REQUIRED</prop>
				<prop key="unregister*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="profileService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="profileTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="templateService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="templateTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="getc*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="newsService"
		class="com.portal.data.service.impl.NewsServiceImpl">
		<property name="newsDao">
			<ref local="newsDao" />
		</property>
	</bean>
	<bean id="linkService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="linkTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="messageService" class="com.portal.data.service.impl.MessageServiceImpl">
		<property name="messageDao">
			<ref local="messageDao"/>
		</property>	
	</bean>

	<bean id="registerAction"
		class="com.portal.action.RegisterAction">
		<property name="accountService">
			<ref local="accountService" />
		</property>
	</bean>

	<bean id="dwr_account" class="com.portal.dwr.Account">
		<property name="accountService">
			<ref local="accountService" />
		</property>
	</bean>
	<bean id="dwr_profile" class="com.portal.dwr.Profile">
		<property name="profileService">
			<ref local="profileService" />
		</property>
	</bean>
	<bean id="dwr_template" class="com.portal.dwr.Template">
		<property name="templateService">
			<ref local="templateService" />
		</property>
		<property name="newsService">
			<ref local="newsService" />
		</property>
		<property name="linkService">
			<ref local="linkService" />
		</property>
	</bean>

	<bean id="dwr_message" class="com.portal.dwr.ServerMessages">
		<property name="messageService">
			<ref local="messageService"/>
		</property>	
	</bean>

	<!--定义定时执行ServerMessages 这个bean中的run()方法-->
	<bean id="serverMessagesTask"
		class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
		<property name="targetObject" ref="dwr_message" />
		<!-- 调用方法的名称 -->
		<property name="targetMethod" value="retrieveMessages" />
	</bean>

	<!-- 使用ScheduledTimerTask来包装任务 -->
	<bean id="scheduledTask"
		class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask" ref="serverMessagesTask" />
		<!-- 任务执行周期-->
		<property name="period">
			<value>600000</value>
		</property>
		<!-- 延时执行任务 -->
		<property name="delay">
			<value>5000</value>
		</property>
	</bean>
	<!-- 使用TimerFactoryBean来实现任务-->
	<bean id="timerFactory"
		class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="scheduledTask" />
			</list>
		</property>
	</bean>

</beans>
