<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>fbtest</display-name>
	
	<context-param>
		<param-name>facebook_api_key</param-name>
		<param-value>XXXX</param-value>
	</context-param>
	
	<context-param>
		<param-name>facebook_secret</param-name>
		<param-value>XXXX</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>facebook</servlet-name>
		<servlet-class>com.terry.fbtest.servlet.FacebookServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>facebook</servlet-name>
		<url-pattern>/facebook</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>facebook</filter-name>
		<filter-class>com.terry.fbtest.filter.FacebookUserFilter</filter-class>	
	</filter>
	<filter-mapping>
		<filter-name>facebook</filter-name>
		<url-pattern>/facebook</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>