<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <bean id="accountDao" class="com.microblog.data.dao.impl.AccountDaoImpl">
    	<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
    </bean>
	<bean id="friendDao" class="com.microblog.data.dao.impl.FriendDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="groupDao" class="com.microblog.data.dao.impl.GroupDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="groupFriendDao" class="com.microblog.data.dao.impl.GroupFriendDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="headDao" class="com.microblog.data.dao.impl.HeadDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="messageDao" class="com.microblog.data.dao.impl.MessageDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="replyDao" class="com.microblog.data.dao.impl.ReplyDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="passportDao" class="com.microblog.data.dao.impl.PassportDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="subscribeDao" class="com.microblog.data.dao.impl.SubscribeDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="robotDao" class="com.microblog.data.dao.impl.RobotDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="urlDao" class="com.microblog.data.dao.impl.UrlDaoImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	
	<bean id="accountTarget"
		class="com.microblog.data.service.impl.AccountServiceImpl">
		<property name="accountDao">
			<ref local="accountDao" />
		</property>
		<property name="passportDao">
			<ref local="passportDao"/>
		</property>
		<property name="friendDao">
			<ref local="friendDao"/>
		</property>
		<property name="groupDao">
			<ref local="groupDao"/>
		</property>
		<property name="groupFriendDao">
			<ref local="groupFriendDao"/>
		</property>
		<property name="subscribeDao">
			<ref local="subscribeDao"/>
		</property>
		<property name="headDao">
			<ref local="headDao"/>
		</property>
	</bean>
	<bean id="messageTarget" class="com.microblog.data.service.impl.MessageServiceImpl">
		<property name="messageDao">
			<ref local="messageDao" />
		</property>
		<property name="accountDao">
			<ref local="accountDao"/>
		</property>
		<property name="replyDao">
			<ref local="replyDao"/>
		</property>
		<property name="groupFriendDao">
			<ref local="groupFriendDao"/>
		</property>
		<property name="subscribeDao">
			<ref local="subscribeDao"/>
		</property>
		<property name="headDao">
			<ref local="headDao"/>
		</property>
		<property name="friendDao">
			<ref local="friendDao"/>
		</property>
		<property name="groupDao">
			<ref local="groupDao"/>
		</property>
	</bean>
	<bean id="urlTarget" class="com.microblog.data.service.impl.UrlServiceImpl">
		<property name="urlDao">
			<ref local="urlDao" />
		</property>
	</bean>
	<bean id="serviceTarget" class="com.microblog.data.service.impl.ServiceServiceImpl">
		<property name="robotDao">
			<ref local="robotDao" />
		</property>
	</bean>
	
	<bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>jdbc.properties</value>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>

		<property name="configurationClass"
			value="org.hibernate.cfg.AnnotationConfiguration" />

		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="messageService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="messageTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="im*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="accountService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="accountTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="im*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="urlService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="urlTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="im*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="serviceService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="serviceTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="im*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="wsMemberService" class="com.microblog.ws.impl.MemberServiceImpl"></bean>
	<bean id="wsServiceService" class="com.microblog.ws.impl.ServiceServiceImpl"></bean>
	<bean id="wsMessegerService" class="com.microblog.ws.impl.MessegerServiceImpl"></bean>
	<bean id="wsActionService" class="com.microblog.ws.impl.ActionServiceImpl"></bean>
	
</beans>