@charset "utf-8";
/*main*/
body {text-align: center;font-family:"宋体", arial;margin-right:auto;margin-left:auto;padding:0;font-size:12px;color:#484848;height: auto;margin-top: 0px;margin-bottom: 0px;line-height:18px;}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}
table,td,tr,th{	font-size:12px;color:#484848}

/*typeset*/
.border {border:#D0D0D0 solid 1px}
.border2 {border:#e5e5e5 solid 1px}
.border3 {border:#c0d7ee solid 1px}
.border4 {border:#a3d3e9 solid 1px}
.listmenu {FONT-SIZE: 12px; WIDTH: 190px;height:20px}
.line-height {line-height: 18px}
.line-height2 {line-height: 24px}
.padding {PADDING: 8px 12px 8px 12px}
.padding2 {PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px}
.padding3 {PADDING: 16px 12px 16px 12px}
.padding4 {padding: 1px 3px 8px 6px}
.padding5 {PADDING: 5px 0px 5px 0px}
.margin {margin-top:5px}
.margin2 {margin-top:15px}
.margin3 {margin-top:20px}
.padding-left {padding-left:6px}


/*Link*/
A {font-size:12px}
A:link {COLOR: #215BA7; TEXT-DECORATION: none}
A:visited {COLOR: #215BA7; TEXT-DECORATION: none}
A:hover {COLOR: #215BA7; TEXT-DECORATION: underline}
A:active {COLOR: #999; TEXT-DECORATION: underline}

/*new*/
.border2 {border:#DEDEDE solid 1px}
.laa {border:#AAC7ED solid 1px}
.border5 {border-bottom:#DEDEDE solid 1px;border-right:#DEDEDE solid 1px}
.pdal {border-top:#c0c0c0 solid 1px;border-left:#c0c0c0 solid 1px;border-right:#c0c0c0 solid 1px}
.ol{border-right:#FCA519 solid 1px;border-left:#FCA519 solid 1px;}
.ob{border:#FCA519 solid 1px}
.lb{border-bottom:#AAC7ED solid 1px}
.lbl{border-bottom:#66A8FF solid 1px} 
.lr{border-right:#AAC7ED solid 1px}
.ll{border-left:#AAC7ED solid 1px}
.dashed {border-bottom:1px dashed #D0D0D0;}
.lh20{line-height:22px}
.lh24{line-height:24px}
.l {TEXT-ALIGN: left}
.r {TEXT-ALIGN: right}
.fl {FLOAT: left}
.fr {FLOAT: right}
.mt5 {MARGIN-top: 5px}
.mt10 {MARGIN-top: 10px}
.mr5 {MARGIN-RIGHT: 5px}
.ml5 {MARGIN-left: 5px}
.ml10 {MARGIN-left: 10px}
.mr3 {MARGIN-RIGHT: 3px}
.mr10 {MARGIN-RIGHT: 10px}
.mb5 {MARGIN-BOTTOM: 5px}
.mb10 {MARGIN-BOTTOM: 10px}
.mb20 {MARGIN-BOTTOM: 20px}
.p10 {PADDING-top:10px}
.pt5 {PADDING-top:5px}
.pl5 {PADDING-left:5px}
.pb5 {PADDING-bottom:5px}
.padding {PADDING:10px}
.w778{width:778px}
.w185{width:185px}
.w239{width:239px}
.w392{width:392px}
.w531{width:531px}
.w529{width:529px}
.h40{height:40px}
.h213{height:213px}
.h213 ul{margin: 0px;padding: 0px;}
.h213 li{line-height:16px;display: block;height:20px;text-align: left;text-indent: 0.5em;margin-top:2px;}
.h180{height:180px}
.h180 ul{margin: 0px;padding: 0px;}
.h180 li{line-height:16px;display: block;height:18px;text-align: left;text-indent: 0.5em;margin-top:2px;}
.h373{height:290px}

/*newhomepage2008*/
.h318{height:317px}
.h367{height:365px}
.h252{height:244px}
.mt7{MARGIN-top:7px}
.mainline{border-right:#BEBEBE solid 1px;border-left:#BEBEBE solid 1px}
#header{height:72px;padding: 0px;text-align:center;BACKGROUND: url(../images/header_bg.gif)}
#logo{padding: 10px; float:left;position:absolute;top:0px;left:0px;}
#topbar{width:300px; float:right;height:58px;position:absolute;top:0px;right:2px;}
#topbar ul{margin:0px;padding: 0px;}
#topbar li{line-height: 16px;display: block;height: 16px;margin-top:10px;margin-left:7px;margin-bottom:0px;margin-right:0px;list-style-type: none;BACKGROUND: url(../images/index_icon5.gif) no-repeat left center;width:60px;float:right;text-indent: 0.7em}
.w1000{width:1000px}
.content3h{height:270px}
.content2h{height:170px;text-align:left}
.content2h ul{margin:0px; padding-top:0px;padding-left:15px; width:290px;FLOAT: left}
.content2h li{line-height:21px;display: block;height:21px;text-align: left;text-indent: 0.5em;margin:0px;
	list-style-type: none;}
#searchbar{float:left;background:#6AA9E4;OVERFLOW: hidden;padding: 7px 0px;height:27px;width:100%}
.redline{float:left;background:#F26C2C;width:100%; height:4px;OVERFLOW: hidden;}
#searchsubmit{BACKGROUND: url(../images/button_search.gif) no-repeat left center;padding: 1px;cursor:pointer;border:1px solid #2F8FEA;width:50px;}
#notice{text-align:left;float:left;width:227px; height:270px;OVERFLOW: hidden;margin: 0px;padding: 0px;}
#notice ul{margin-top:5px;padding:0px;}
#notice li{line-height:21px;display: block;height:21px;text-align: left;text-indent: 0.5em;margin:0px;
	list-style-type: none;BACKGROUND: url(../images/index_icon2.gif) no-repeat left center;}
#maintab{float:left;height:26px;padding:46px 0px 0px 180px;width:760px;/*border:1px solid #2F8FEA;*/}
#maintab span{height:26px;margin-left:4px;padding:0px;width:74px}
#maintab span.tabactive{background:#F26C2C;height:26px; FLOAT: left;COLOR:#FFF; LINE-HEIGHT: 20px; PADDING-TOP:6px; HEIGHT: 20px; font-size:12px;font-weight:bold;width:74px}
#maintab span.tabinactive{background:#C0D9FB;float:left;padding: 0px;height:26px;width:74px}
#maintab span a{position:relative;DISPLAY: block;FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #484848; LINE-HEIGHT: 20px; PADDING-TOP: 6px; HEIGHT: 20px;width:74px}
#maintab span a:hover {COLOR: #FFF; TEXT-DECORATION: none}

#mbox{text-align:left;OVERFLOW: hidden;FLOAT: left;margin-left:10px; width:503px; height:270px;}
#boxxi{height:211px;border-left: #5B9BCB solid 1px; border-right: #5B9BCB solid 1px}
#boxxt{padding: 7px;background-image:url(../images/box_bg2.gif);background-repeat:no-repeat;height:35px;}
.boxxt2{cursor:pointer;background:#FFF;padding: 8px;border-top:2px solid #FFF;border-bottom:2px solid #5B9BCB;border-left:2px solid #5B9BCB;border-right:2px solid #5B9BCB}
.boxxt2b{cursor:pointer}

#topic{text-align:left;float:right;width:250px; height:270px;OVERFLOW: hidden;margin: 0px;padding: 0px}
#topic ul{margin:0px; padding-top:0px;padding-left:5px; width:75px;FLOAT: left}
#topic li{display: block;height:22px;text-align: left;text-indent: 0.5em;margin:0px;
	list-style-type: none;}
#topic span{cursor:pointer;padding:6px 6px 3px;position:relative;top:3px}
.topiccontent{height: 239px; border-left: #5B9BCB solid 1px; border-right: #5B9BCB solid 1px}

.w200{height:20px;width:195px;float:left;line-height:20px;}
#mlogo{width:258px; height:317px; FLOAT: left}
#mainfl{width:667px; height:317px; FLOAT:right;margin-left:10px}
.mainflbg{background-image:url(../images/fl_bg.gif);background-repeat:no-repeat;height:34px;width:667px}
.flheight100{height:100px;padding-left:15px;padding-right:15px;padding-top:10px; FLOAT: left;width:635px}
.flheight82{height:82px;padding-left:15px;padding-right:15px;padding-top:7px; FLOAT: left;width:635px}
.flheight66{height:66px;padding-left:15px;padding-right:15px;padding-top:7px; FLOAT: left;width:635px}
.w206{width:204px; FLOAT: left;;COLOR:#2F78D8}
.w206 h2{FONT: 14px normal;COLOR:#484848;FONT-WEIGHT: bold;height:21px;border-bottom:1px dashed #D0D0D0;margin-bottom:5px}
.flshow{background-image:url(../images/fl_show.gif);background-repeat:no-repeat;height:34px;width:94px}
.flhide{background-image:url(../images/fl_hide.gif);background-repeat:no-repeat;height:34px;width:94px}
#dalogo{width:808px;FLOAT: left}
#dalogo ul{margin:0px; padding:0px}
#dalogo li{list-style:none;width:202px; float:left;height:70px; margin-bottom:5px}
#dalogo li img{width:188px;height:70px;border:#939393 solid 1px}
#xlogo{width:125px;FLOAT:left}
#xlogo ul{margin:0px; padding:0px}
#xlogo li{list-style:none;width:126px;float:left;height:70px; margin-bottom:5px}
#xlogo li img{width:125px;height:70px;border:#939393 solid 1px}
#slogo{width:808px;FLOAT: left}
#slogo ul{margin:0px; padding:0px}
#slogo li{list-style:none;width:134px;float:left;height:60px;margin-bottom:5px}
#slogo li img{width:125px;height:60px;border:#939393 solid 1px; float:left}
#xslogo{width:125px;FLOAT:right}
#xslogo ul{margin:0px; padding:0px}
#xslogo li{list-style:none;width:126px;float:left;height:60px;margin-bottom:5px}
#xslogo li img{width:125px;height:60px;border:#939393 solid 1px}
#zx{width:705px; height:280px;FLOAT: left}
#zx1{width:280px;height:237px;float:left;padding-left:10px;padding-right:5px;padding-top:7px;border-right:#BEBEBE solid 1px}
#zx1 h2 A{FONT: 14px normal;COLOR:#484848;FONT-WEIGHT: bold}
#zx1 img{width:100px;height:67px;FLOAT: left;margin-right:10px;border:#D0D0D0 solid 1px}
#zx1 ul{margin-top:3px; padding:0px}
#zx1 li{line-height:20px;display: block;height:20px;text-align: left;margin:0px;list-style-type: none}
.zx11{border-top:1px dashed #D0D0D0;margin-top:5px;padding-top:8px}
.zx11 h3 A{FONT: 12px normal;COLOR:#484848;FONT-WEIGHT: bold}
.zx11 li{line-height:21px;display: block;height:21px;text-align: left;text-indent:1.2em;margin:0px;
	list-style-type: none;BACKGROUND: url(../images/index_icon7.gif) no-repeat left center;}
.zx11 ul{margin-top:5px; padding:0px}	
#cp{width:284px; height:285px;float:right;text-align:left}
#cp1{width:370px;height:237px;float:left;padding-left:10px;padding-right:10px;padding-top:7px}
#cp1 h2 A{FONT: 14px normal;COLOR:#484848;FONT-WEIGHT: bold}
#cp1 .cp1v{height:75px;padding-top:5px;padding-bottom:5px; background-color:#E8E8E8}
#cp1 .cp1v img{width:100px;height:67px;FLOAT: left;margin-left:5px;margin-right:10px;margin-top:2px;border:#D0D0D0 solid 1px}
#cp1 .cp11{width:182px;margin-top:5px;float:left;}
#cp1 .cp11 h3 A{FONT: 12px normal;COLOR:#484848;FONT-WEIGHT: bold;background-image:url(../images/index_icon8.gif) no-repeat }
.cpp{height:105px;padding-top:8px;padding-right:10px;padding-left:15px; line-height:21px}
.cpp h3{FONT: 12px normal;COLOR:#484848;FONT-WEIGHT: bold}
.cpp img{width:102px;height:83px;border:#D0D0D0 solid 1px;margin-top:2px;margin-right:8px;FLOAT: left}
.h43{height:43px}
.w306{width:310px;height:265px;FLOAT: left;COLOR:#2F78D8;padding-top:10px;padding-left:15px;padding-right:5px;line-height:20px}
.w306 h2{FONT: 14px normal;COLOR:#484848;FONT-WEIGHT: bold;height:20px;border-bottom:1px dashed #D0D0D0;margin-bottom:5px;padding-top:3px}
.logobt{height:33px;width:785px}
.logobt img{width:90px;height:33px;FLOAT: left;margin-right:7px}

.RoundedCorner{background: #5B9BCB;padding:4px 0px 3px;}
