.modbox .el {
	display: ;
}

.modbox .csl,.modbox .es {
	display: none;
}

.modbox_e .el {
	display: none;
}

.modbox_e .csl,.modbox .es {
	display: ;
}

.dm {
	position: relative;
	width: 1px;
	height: 1px;
}

.fres {
	width: expression(_gel("ffresults") .     offsetWidth +     "px" );
	overflow: hidden;
}

.panelo {
	
}

.panelc {
	
}

.mod {
	
}

.unmod {
	
}

form {
	display: inline;
}

.c {
	clear: both;
}

body,td,a,p,.h {
	font-family: arial, sans-serif;
}

a:link {
	color: #0000cc;
}

a:visited {
	color: #551a8b;
}

a:active {
	color: #ff0000;
}

.q {
	color: #0000cc;
}

a.ab {
	color: #0000cc;
}

h2.modtitle {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0em;
	font-size: 100%;
	font-weight: normal;
}

.modbox,.modbox_e {
	margin-bottom: 20px;
	background-color: white;
}

.el,.csl {
	color: #7777cc;
}

.tlc {
	table-layout: fixed;
	cursor: pointer;
	cursor: hand
}

.tlc col {
	font-size: 82%
}

.tlc td {
	font-size: 82%;
	empty-cells: show
}

.tls {
	white-space: nowrap;
	overflow: hidden;
}

.tls a {
	text-decoration: none;
	color: black;
}

.tld {
	white-space: nowrap;
	text-align: right;
	width: 8ex;
}

.tlq {
	white-space: nowrap;
	overflow: hidden;
}

.mhdr {
	width: 100%;
	border-top: 1px solid #3366cc;
	padding: 0px;
	margin: 0px;
	font-size: 82%;
}

.mttl {
	width: 90%;
	background-color: #e5ecf9;
	padding-left: 2px;
	font-weight: bold;
	padding-right: 5px;
	font-size: 122%;
}

.mttli {
	overflow: hidden;
	height: 1.2em;
}

.medit {
	width: 10%;
	background-color: #e5ecf9;
	white-space: nowrap;
	text-align: right;
	vertical-align: top;
	padding-right: 2px;
}

.medit,.medit a:visited,.medit a:link,.medit a:active {
	color: #77c;
}

.mdel {
	border: 0;
	width: 16px;
	height: 13px;
	margin-top: 2px;
	vertical-align: top;
}

.mc {
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
}

.mpromo {
	border: 1px solid #3366cc;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 20px;
	padding: 5px;
	background-color: #e5ecf9;
}

.apromo,.cpromo {
	border: 1px solid #3366cc;
	background-color: #e5ecf9;
	padding: 1px 1px 2px 0px;
	white-space: nowrap;
	cursor: pointer;
	color: #0000cc;
}

.apromo {
	font-size: 82%;
	float: left;
}

.cpromo {
	margin: -1px -1px 0 0;
	float: right;
}

#setupbox,#demobox {
	border: 1px solid #3366cc;
	width: 95%;
	margin-bottom: 10px;
}

.bt {
	font-weight: bold;
	font-size: 16px;
	color: #3366cc;
}

.setuptd {
	padding-right: 25px;
	padding-left: 25px;
	font-size: smaller;
}

.mg {
	font-size: smaller;
	color: #676767;
}

.mg A {
	color: #7777cc;
}

#promomod {
	border: 1px solid #3366cc;
	vertical-align: middle;
	margin-bottom: 20px;
	padding: 5px;
	font-size: smaller;
}

.scrollMessage {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 14px; 
	MARGIN-BOTTOM: 5px; 
	PADDING-BOTTOM: 2px;
	overflow:hidden;
	height:18px;
}

