<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<context-param>
		<param-name>gvemail</param-name>
		<param-value>test@gmail.com</param-value><!-- Google Voice Email帐号 -->
	</context-param>
	<context-param>
		<param-name>gvpassword</param-name>
		<param-value>12345678</param-value><!-- Google Voice 密码 -->
	</context-param>
	<context-param>
		<param-name>whitelist</param-name>
		<param-value>test1@gmail.com,test2@gmail.com</param-value><!-- 机器人接受哪些Gtalk用户的指令，用逗号隔开，如果为空，说明允许所有的人 -->
	</context-param>
	
	<servlet>
		<servlet-name>xmppreceiver</servlet-name>
		<servlet-class>com.terry.smsbot.servlet.XMPPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xmppreceiver</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>com.terry.smsbot.listener.InitListener</listener-class>
	</listener>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
