<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- show sql -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- mapping class -->
        <mapping class="com.microblog.data.model.Account" />
        <mapping class="com.microblog.data.model.Passport" />
        <mapping class="com.microblog.data.model.Group" />
        <mapping class="com.microblog.data.model.GroupFriend" />
        <mapping class="com.microblog.data.model.Message" />
        <mapping class="com.microblog.data.model.Limit" />
        <mapping class="com.microblog.data.model.Reply" />
        <mapping class="com.microblog.data.model.Friend" />
		<mapping class="com.microblog.data.model.Subscribe" />
		<mapping class="com.microblog.data.model.Head" />
		<mapping class="com.microblog.data.model.Url" />
		<mapping class="com.microblog.data.model.Robot" />
    </session-factory>
</hibernate-configuration>
