<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>lab</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
	</filter>
	<filter>
		<filter-name>struts2-cleanup</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ActionContextCleanUp
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/struts/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter>
		<filter-name>AddHeaderFilter</filter-name>
		<filter-class>
			cn.edu.jiangnan.lab.filter.AddHeaderFilter
		</filter-class>
		<init-param>
			<param-name>headers</param-name>
			<param-value>Content-Encoding=gzip</param-value>
		</init-param>
	</filter> 

	<filter-mapping>
		<filter-name>AddHeaderFilter</filter-name>
		<url-pattern>*.gzjs</url-pattern>
	</filter-mapping>-->

	<!-- <filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
		org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>-->
	<!-- singleSession默认为true,若设为false则等于没用OpenSessionInView -->
	<!--<init-param>
		<param-name>singleSession</param-name>
		<param-value>true</param-value>
		</init-param>
		</filter>
		<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
		</filter-mapping>-->

	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<description></description>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<description></description>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>image</servlet-name>
		<servlet-class>
			cn.edu.jiangnan.lab.servlet.ImageServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>image</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>report</servlet-name>
		<servlet-class>
			cn.edu.jiangnan.lab.servlet.ReportDownloadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>report</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>equipdownload</servlet-name>
		<servlet-class>cn.edu.jiangnan.lab.servlet.EquipDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>equipdownload</servlet-name>
		<url-pattern>/equipdownload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>equipupload</servlet-name>
		<servlet-class>cn.edu.jiangnan.lab.servlet.EquipUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>equipupload</servlet-name>
		<url-pattern>/equipupload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>imageupload</servlet-name>
		<servlet-class>cn.edu.jiangnan.lab.servlet.ImageUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageupload</servlet-name>
		<url-pattern>/imageupload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userdownload</servlet-name>
		<servlet-class>cn.edu.jiangnan.lab.servlet.UserDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userdownload</servlet-name>
		<url-pattern>/userdownload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userupload</servlet-name>
		<servlet-class>cn.edu.jiangnan.lab.servlet.UserUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userupload</servlet-name>
		<url-pattern>/userupload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Connector</servlet-name>
		<servlet-class>
			net.fckeditor.connector.ConnectorServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Connector</servlet-name>
		<url-pattern>
			/fckeditor/editor/filemanager/connectors/*
		</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/lab</taglib-uri>
			<taglib-location>/WEB-INF/lab.tld</taglib-location>
		</taglib>
	</jsp-config>

	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error500.jsp</location>
	</error-page>
</web-app>
